<form [formGroup]="addForm">
  <h3 class="d-flex justify-content-between align-items-center" style="font-weight:400">Добавление автора<i *ngIf="show" class="fas fa-times" style="font-size: 1.5rem;" (click)="ms.close()"></i></h3>
  <div class="form-group">
    <label for="name" [ngClass]="{'text-danger':(submitted && f.name.errors)}">Имя*</label>
    <input [ngClass]="{'border-danger':(submitted && f.name.errors)}" formControlName="name" (change)="upd(name)" class="form-control" id="name" placeholder="Имя автора" #name>
    <small  class="form-text text-danger" *ngIf="submitted && f.name.errors && f.name.errors.required">Введите имя автора</small>
  </div>
  <div class="form-group">
    <label for="surname" [ngClass]="{'text-danger':(submitted && f.surname.errors)}">Фамилия*</label>
    <input [ngClass]="{'border-danger':(submitted && f.surname.errors)}" formControlName="surname" (change)="upd(surname)" class="form-control" id="surname" placeholder="Фамилия автора" #surname>
    <small  class="form-text text-danger" *ngIf="submitted && f.surname.errors && f.surname.errors.required">Введите фамилию автора</small>
  </div>
  <div class="form-group">
      <label for="second_name" [ngClass]="{'text-danger':(submitted && f.second_name.errors)}">Отчество</label>
      <input [ngClass]="{'border-danger':(submitted && f.second_name.errors)}" (change)="upd(second_name)" formControlName="second_name" class="form-control" id="second_name"  placeholder="Отчество автора" #second_name>
      <!-- <small  class="form-text text-danger" *ngIf="submitted && f.formulae.errors && f.formulae.errors.required">Введите формулу кристалла</small> -->
  </div>
  <button *ngIf="!item || upd_length>0" class="btn btn-primary" (click)="send()">Отправить</button>
</form>
