<div class="menu">
  <div class="menu-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'> 
    <span>Кристаллы</span>
  </div>
  <div class="menu-item" routerLink="experiments" routerLinkActive="active">
    <span>Эксперименты</span>
  </div>
  <div class="menu-item" routerLink="periodicals" routerLinkActive="active">
    <span>Периодика</span>
  </div>
  <div class="menu-item" routerLink="growings" routerLinkActive="active">
    <span>Выращивание</span>
  </div>
  <div class="menu-item" routerLink="add" routerLinkActive="active">
    <span>Добавление</span>
  </div>
</div>
