<div class="menu">
  <div class="menu-item" routerLink="catalog" routerLinkActive="active" > 
    <span>Добавление каталога</span>
  </div>
  <div class="menu-item" routerLink="experiment" routerLinkActive="active">
    <span>Добавление эксперимента</span>
  </div>
  <div class="menu-item" routerLink="periodical" routerLinkActive="active">
    <span>Добавление периодики</span>
  </div>
  <div class="menu-item" routerLink="growing" routerLinkActive="active">
    <span>Добавление выращивания</span>
  </div>
</div>
<router-outlet></router-outlet>
