<form [formGroup]="addForm">
  <h3 class="d-flex justify-content-between align-items-center" style="font-weight:400">Добавление оборудования<i *ngIf="show" class="fas fa-times" style="font-size: 1.5rem;" (click)="ms.close()"></i></h3>
  <div class="form-group">
    <label for="na" [ngClass]="{'text-danger':(submitted && f.type.errors)}">Тип оборудования*</label>
    <input [ngClass]="{'border-danger':(submitted && f.type.errors)}" (change)="upd(type)" formControlName="type" class="form-control" id="type" placeholder="Тип оборудования" #type>
    <small  class="form-text text-danger" *ngIf="submitted && f.type.errors && f.type.errors.required">Введите тип оборудования</small>
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1" [ngClass]="{'text-danger':(submitted && f.model.errors)}">Модель оборудования*</label>
      <input [ngClass]="{'border-danger':(submitted && f.model.errors)}" (change)="upd(model)" formControlName="model" class="form-control" id="model" placeholder="Модель оборудования" #model>
      <small  class="form-text text-danger" *ngIf="submitted && f.model.errors && f.model.errors.required">Введите модель оборудования</small>
  </div>
  <div class="form-group">
    <label for="na" [ngClass]="{'text-danger':(submitted && f.date_of_issue.errors)}">Дата выдачи*</label>
    <input [ngClass]="{'border-danger':(submitted && f.date_of_issue.errors)}" (change)="upd(date_of_issue)" formControlName="date_of_issue" type="date" class="form-control" id="date_of_issue" #date_of_issue>
    <small  class="form-text text-danger" *ngIf="submitted && f.date_of_issue.errors && f.date_of_issue.errors.required">Введите дату выдачи</small>
  </div>
  <div class="form-group">
    <label for="na" [ngClass]="{'text-danger':(submitted && f.value.errors)}">Количество оборудования*</label>
    <input [ngClass]="{'border-danger':(submitted && f.value.errors)}" (change)="upd(value)" formControlName="value" type="number" class="form-control" id="value" placeholder="Количество оборудования" #value>
    <small  class="form-text text-danger" *ngIf="submitted && f.value.errors && f.value.errors.required">Введите количество оборудования</small>
  </div>
  
  <div class="form-group">
    <label [ngClass]="{'text-danger':(submitted && f.technical_documentation.errors)}" for="DES">Техническая документация*</label>
    <select [ngClass]="{'border-danger':(submitted && f.technical_documentation.errors)}" (change)="upd(technical_documentation)" formControlName="technical_documentation" class="form-control" rows="5" id="technical_documentation" #technical_documentation>
      <option value="Да">Да</option>
      <option value="Нет">Нет</option>
    </select>
    <small  class="form-text text-danger" *ngIf="submitted && f.technical_documentation.errors && f.technical_documentation.errors.required">Уточните наличие документации</small>
  </div>
  <div class="form-group">
    <label for="na" [ngClass]="{'text-danger':(submitted && f.information.errors)}">Информация</label>
    <input [ngClass]="{'border-danger':(submitted && f.information.errors)}" (change)="upd(information)" formControlName="information" class="form-control" id="information" placeholder="Информация" #information>
  </div>
  <button *ngIf="!item || upd_length>0" class="btn btn-primary" (click)="send()">Отправить</button>
</form>
