@import "../../colors.less";

.item{
    border-radius: 5px;
    border: 1px solid @dark-blue;
    padding: 8px;
    min-width: 70px;
    min-height: 70px;
    overflow: hidden;
    h4{
        margin-bottom: 0;
    }
    img{
        width: 200px;
    }
}